body{
  padding:0px;
  margin:0px;
}

.HomePage{
  background-color:black;
  width: 100vw;
  height:100vh;
  display:flex;
  flex-direction:column;
  flex-wrap:wrap;
  justify-content: center;
  align-items: center;
}

.Calculator{
  display:flex;
  flex-direction:column;
  align-items: center;
  height: 50vh;
  width: 50vw;
  padding-bottom: 1px;
  background-color: grey;
  box-sizing:border-box;
}

.Screen{
  color: white;
  display:flex;
  width: 100%;
  height:30%;
  background-color: black;
  position: relative

}

.ScreenResult{
  position: absolute;
  bottom:0;
  right:0;
  font-size: 60px;
}

.ScreenEquation {
  width: auto;
  height: 10%;
  position: absolute;
  top: 0;
  right:0;
}

.MemoryRow{
  width: 95%;
  height: 10%;
  background-color: yellow;
}

.ButtonsGrid{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  height: 59%;
  width: 99%;
  flex-wrap:wrap;
  flex-grow: 1;
  overflow-y: auto;
}

.ButtonsGrid Button{
  border-radius: 12px;
  font-size: 20px;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  background-color: white;
}
